[run]
plugins     = Cython.Coverage
concurrency = thread,multiprocessing
parallel    = True
source      = indexed_gzip_fileobj_fork_epicfaace
omit        =
    indexed_gzip_fileobj_fork_epicfaace/tests/*
